{# agregarDireccion: Pedido #}
{# src/TodoCerdo/TodoCerdoBundle/Resources/views/Pedido/agregarDireccion.html.twig #}

{% block title %}Agregar Direcci&oacute;n{% endblock%}

{% block body %}


<header>
    <h2>Agregar Direcci&oacute;n</h2>
</header>
<div>
    {#Cargo formulario "DireccionType.php". #}
        <form class="blogger" id="form_agregar_direccion"
              action="{{ path('TodoCerdoTodoCerdoBundle_agregarDirAjax') }}" 
              method="post" {{ form_enctype(form) }} >

                {{ form_row(form.Localidad)}}
            <div id= "zona">

                {{ form_row(form.Zona)}}    
            </div>
            <div id="calle">

                {{form_row(form.Calle)}}
            </div>
            <div id="altura">
                {{form_row(form.Altura)}}
            </div>
            <div id="piso">
                {{form_row(form.Piso)}}
            </div>
            <div id="departamento">
                {{form_row(form.Departamento)}}
            </div>
            <div id="nombre">
                {{form_row(form.Nombre)}}
            </div>

            <input type="submit" value="Agregar Direcci&oacute;n" />
            {{ form_rest(form) }}
        </form>
    </div>{# empty Twig template #}
    <a class="close-reveal-modal">&#215;</a>
{% endblock %}


    