{# empty Twig template #}
<div>
<div>
<label class=" required" for="direccion">Direccion</label>
<select id="direccion" name="direccion" required="required">
    {%for dir in direcciones %}
        {%if dir.id == direccion.id %}
            <option value="{{dir.id}}" selected="selected">{{dir.nombre}}</option>
        {%else%}
            <option value="{{dir.id}}" >{{dir.nombre}}</option>
        {%endif%}
    {%endfor%}
</select>


<input id="agregar" class="modal_desc" type="button" value="Agregar dirección">
</div>
<div>
    <form class="blogger" id="form_dar_ubicacion"
              action="{{ path('TodoCerdoTodoCerdoBundle_continuarPedido') }}" 
              method="post" {{ form_enctype(form) }} >
        
                {{ form_row(form.Localidad, {'attr': {'disabled':'true'} })}}
            

                {{ form_row(form.Zona, {'attr': {'disabled':'true'} })}}
                
           
                {{form_row(form.Calle, { 'attr': { 'readonly': 'true' } })}}
            
            
                {{form_row(form.Altura,{ 'attr': { 'readonly': 'true' } })}}
            
            
                {{form_row(form.Piso,{ 'attr': { 'readonly': 'true' } })}}
            
            
                {{form_row(form.Departamento,{ 'attr': { 'readonly': 'true' } })}}
            
            
                {{form_row(form.Nombre,{ 'attr': { 'readonly': 'true' } })}}
           

            <input type="submit" value="Continuar con el Pedido" />
            {{ form_rest(form) }}
        
    </form>
</div>