{# Dar ubicacion: Pedido #}
{# src/TodoCerdo/TodoCerdoBundle/Resources/views/Pedido/darUbicacion.html.twig #}

{% extends 'TodoCerdoTodoCerdoBundle::layout.html.twig' %}

{% block title %}darUbicacion{% endblock%}

{% block stylesheets %}
{{ parent() }}

    {% stylesheets 'bundles/todocerdotodocerdo/css/reveal.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}


<header>
    <h2>Dar Ubicaci&oacute;n</h2>
</header>
<div id="todo">
<div>
        <label class=" required" for="direccion">Direccion</label>

        <select id="direccion" required="required" name="direccion">
{% for direccion in direccion %}
{#aca hacer el select cargando las zonas#}

                <option value="{{direccion.id}}">{{direccion.nombre}}</option>




{%endfor%}

            </select> <input id="agregar" class="modal_desc" type="button" value="Agregar direcci&oacute;n"/>


</div>
<div>
    {#Cargo formulario "DireccionType.php". #}
        <form class="blogger" id="form_dar_ubicacion"
              action="{{ path('TodoCerdoTodoCerdoBundle_continuarPedido') }}" 
              method="post" {{ form_enctype(form) }} >

                {{ form_row(form.Localidad)}}
            

                {{ form_row(form.Zona)}}
                
           
                {{form_row(form.Calle, { 'attr': { 'readonly': 'true' } })}}
            
            
                {{form_row(form.Altura,{ 'attr': { 'readonly': 'true' } })}}
            
            
                {{form_row(form.Piso,{ 'attr': { 'readonly': 'true' } })}}
            
            
                {{form_row(form.Departamento,{ 'attr': { 'readonly': 'true' } })}}
            
            
                {{form_row(form.Nombre,{ 'attr': { 'readonly': 'true' } })}}
           

            <input type="submit" value="Continuar con el Pedido" />
            {{ form_rest(form) }}
        </form>
    </div>   
</div>            
    <div id="myModal" class="reveal-modal" style="margin-left: 0px; width: 625px;"></div>
    
{% endblock %}

 {% block javascripts %}

     {{ parent() }}
        <script type="text/javascript">

            $(document).ready(function() {
                
               $("#agregar").click(function() { //evento click del boton continuar pedido
                    //var id = $(this).attr("name");
                    var url = "{{ path('TodoCerdoTodoCerdoBundle_agregarDireccion') }}";
            
                    $.ajax({
                        type:"GET",
                        url:url,
                        //data:"id="+id,//concateno dos string
                        success: function(data){
                            //agregar validacion del success en caso que no retorne bien la descripcion
                          $("#myModal").html(data);//myModal es un elemento html con ese id
                          $('#myModal').reveal();//reveal es un metodo de una clase de ventanas modales
                        },
                        error: function(data) {
                            alert("ERROR");
                        }        
                    });//make sure the the response is in json format

                    
                });
                
                $("#direccion").change(function() {
                    var idDireccion = $(this).val();
                    var urlDireccion = "{{path('TodoCerdoTodoCerdoBundle_obtenerDireccion')}}";
                    $.ajax({
                        type: "GET",
                        url: urlDireccion,
                        data: "idDireccion=" + idDireccion,
                        success: function(data) {
                            //$.each(data, function(i,item){
                            $('.blogger').html(data);
                            //$(".blogger #calle #direccion_Calle").val=data.calle;
                            //console.log($('form #calle').html(data));
                            //});
                        },
                        error: function(data) {
                            alert("ERROR");
                        }

                    });
                });
                
                $("#myModal").on("change","#direccion_Localidad",function() {//evento on click

                    var id = $(this).val();
                    //console.log(id);
                    var url = "{{ path('TodoCerdoTodoCerdoBundle_obtenerBarrios') }}";

                    $.ajax({
                        type: "GET",
                        url: url,
                        data: "id=" + id, //concateno dos string
                        success: function(data) {
                            //agregar validacion del success en caso que no retorne bien la descripcion

                            //aca le tengo que decir que cambie el contenido del select
                            $("#zona").html(data);
                        }
                    });//make sure the the response is in json format

                    //we dont what the browser to submit the form
                    return false;
                });
           
                
            });
            
            

            </script>

{% endblock %}