{# empty Twig template #}

<table>
    <tr>
        <th></th>
        <th>Producto</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Borrar</th>
    </tr>
{% set cant = 0 %}    

{% for detalle in carrito %}
    <tr>
        <td><img class="img" src="{{asset(detalle.producto.getWebPath())}}"></td>
        <td>{{detalle.producto.getNombre()}}</td>
        <td>${{detalle.producto.calcularPrecio()}}</td>
        <td><input class="input_cant" type="text" maxlength="2" id="cantidad{{cant}}" value="{{detalle.cantidad}}"/></td>
        <td id="subtotal{{cant}}" >${{detalle.calcularSubtotal}}</td>
        <td>
            {% image '@TodoCerdoTodoCerdoBundle/Resources/public/images/delete.png' %}
              <img class="delete" id="{{cant}}" src="{{ asset_url }}"/>
            {% endimage %}
        </td>
    </tr>
    {% set cant=cant+1 %}
{%endfor%}
    
</table>
<div class="leyenda"><p>(*) NO INCLUYE GASTOS DE ENVÍO</p></div><div class="total"><p id="total">(*)Total: ${{precioTotal}}</p></div>
<div class="botones">
    <a href="{{ path('TodoCerdoTodoCerdoBundle_productos')}}"><button>Continuar Comprando</button></a>
    <a href="{{ path('TodoCerdoTodoCerdoBundle_darUbicacion')}}"><button>Finalizar Pedido</button></a>
</div>
