{# empty Twig template #}
<table>
    <tr>
        <td>Eliminar</td>
        <td>Foto</td>
        <td>Nombre del Producto</td>
        
        <td>Precio Unitario</td>
        <td>Cantidad</td>
        <td>Subtotal</td>
    </tr>
{% set cant = 0 %}    

{% for detalle in carrito %}
    <tr>
        <td>
            {% image '@TodoCerdoTodoCerdoBundle/Resources/public/images/delete.png' %}
              <img class="delete" id="{{cant}}" name="{{detalle.calcularSubtotal}}" src="{{ asset_url }}"/>
            {% endimage %}
        </td>
        <td><img src="{{asset(detalle.producto.getWebPath())}}"></td>
        <td>{{detalle.producto.getNombre()}}</td>
        <td>{{detalle.producto.calcularPrecio()}}</td>
        <td>{{detalle.cantidad}}</td>
        <td>{{detalle.calcularSubtotal}}</td>
    </tr>
    {% set cant=cant+1 %}
{%endfor%}
    
</table>
Total General : {{precioTotal}}
