{# empty Twig template #}

{% extends 'TodoCerdoTodoCerdoBundle::layout.html.twig' %}



{% block body %}
<h1>Carrito de Compras</h1>
<div id="tablaDetalle">
<table>
    <tr>
        <th></th>
        <th>Producto</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Borrar</th>
    </tr>
{% set cant = 0 %}    

{% for detalle in carrito %}
    <tr>
        <td><img src="{{asset(detalle.producto.getWebPath())}}"></td>
        <td>{{detalle.producto.getNombre()}}</td>
        <td>{{detalle.producto.calcularPrecio()}}</td>
        <td>{{detalle.cantidad}}</td>
        <td>{{detalle.calcularSubtotal}}</td>
        <td>
            {% image '@TodoCerdoTodoCerdoBundle/Resources/public/images/delete.png' %}
              <img class="delete" id="{{cant}}" name="{{detalle.calcularSubtotal}}" src="{{ asset_url }}"/>
            {% endimage %}
        </td>
    </tr>
    {% set cant=cant+1 %}
{%endfor%}
    
</table>

Total: ${{precioTotal}}
</div>
<a href="{{ path('TodoCerdoTodoCerdoBundle_productos')}}"><button>Continuar Comprando</button></a>
<a href="{{ path('TodoCerdoTodoCerdoBundle_darUbicacion') }}"><button>Finalizar Pedido</button></a>

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    
    $(document).ready(function(){
    
        $('.delete').live('click',function(){
            var indice = $(this).attr("id");
            var sub = $(this).attr("name");
            var url = "{{ path('TodoCerdoTodoCerdoBundle_eliminarDetalle') }}";
            
            $.ajax({
                type:"GET",
                url:url,
                data:{elemento: indice, subtotal:sub },
                success: function(data){
                $('#tablaDetalle').html(data);
            }
             });
        
        });
    
    
    });
</script>
    
{% endblock %}