{# empty Twig template #}
<form action="#" method="post" {{ form_enctype(edit_form) }}>
    
    {{form_row(edit_form.fechaEntrega, { 'attr': { 'readonly': 'true' } })}}
    {{form_row(edit_form.horarioTentativo, { 'attr': { 'readonly': 'true' } })}}
    {{form_row(edit_form.confirmarPrecio, { 'attr': { 'readonly': 'true' } })}}
    {{form_row(edit_form.medioConfirmacion, { 'attr': { 'readonly': 'true' } })}}
    {{form_row(edit_form.pagaCon, { 'attr': { 'readonly': 'true' } })}}
    {{form_row(edit_form.Estado)}}
     {{ form_row(edit_form.save, { 'label': 'Aceptar' }) }}
    {{ form_rest(edit_form) }}

    
</form>