{# empty Twig template #}
<lable>Estado del Pedido:</lable>
<select name="estado" id="estado">
    {% for estado in estados %}
        {%if pedido.estado == estado %}
            <option value="{{estado.id}}" selected>{{estado}}</option>
        {%else%}
            <option value="{{estado.id}}">{{estado}}</option>
        {%endif%}
    {%endfor%}
</select>
<h3>Detalle del Pedido:</h3>
<table>
    <th>Producto</th><th>Precio</th><th>Cantidad</th><th>Subtotal</th>
    
    {% for det in detalle %}
        
        <tr>
            <td>{{det.producto}}</td>
            <td>${{det.producto.calcularPrecio}}</td>
            <td>{{det.cantidad}}</td>
            <td>${{det.calcularSubtotal}}</td>
        </tr>
        
    {%endfor%}    
</table>
    <div class="leyenda"><p>Costo de env&iacute;o: ${{pedido.direccion.zona.costoEnvio}}</p></div><div class="total"><p></p></div><div class="pagacon"></div>