    <div>
        <label for="direccion_Localidad" class=" required">Localidad</label>
        <select id="direccion_Localidad" name="direccion[Localidad]" required="required">
        {%for localidad in localidades %}
            {%if localidad.id == localidadId %}    
                <option value="{{localidad.id}}" selected="selected">{{localidad.nombre}}</option>
            {%else%}
                <option value="{{localidad.id}}" >{{localidad.nombre}}</option>
            {%endif%}    
        {%endfor%}
        </select>
    </div>
    <div id="zona">

        <div>
            <label for="direccion_Zona" class=" required">Zona</label>
            <select id="direccion_Zona" name="direccion[Zona]" required="required">
            {%for zona in zonas %}
                {%if zona.id == zonaId %}
                    <option value="{{zona.id}}" selected="selected">{{zona.nombre}}</option>
                {%else%}
                    <option value="{{zona.id}}">{{zona.nombre}}</option>
                {%endif%}
            {%endfor%}
                </select
            </div>    
        </div>
        <div id="calle">

            <div>
                <label for="direccion_Calle" class=" required">Calle</label>
                <input id="direccion_Calle" name="direccion[Calle]" required="required" type="text" value="{{direccion.calle}}">
            </div>
        </div>
        <input id="direccion__token" name="direccion[_token]" value="3822bcdf9dc09042fb73124a06aac0934079a1a7" type="hidden">
        <div>
            <label for="direccion_Altura" class=" required">Altura</label>
            <input id="direccion_Altura" name="direccion[Altura]" required="required" type="text" value="{{direccion.altura}}">
        </div>
        <div>
            <label for="direccion_Piso" class=" required">Piso</label>
            <input id="direccion_Piso" name="direccion[Piso]" required="required" type="text" value="{{direccion.piso}}">
        </div>
        <div>
            <label for="direccion_Departamento" class=" required">Departamento</label>
            <input id="direccion_Departamento" name="direccion[Departamento]" required="required" type="text" value="{{direccion.departamento}}">
        </div>
        <div>
            <label for="direccion_Nombre" class=" required">Nombre</label>
            <input id="direccion_Nombre" name="direccion[Nombre]" required="required" type="text" value="{{direccion.nombre}}">
        </div>

        <input value="Agregar Dirección" type="submit">
